.app-user {
	background-color: var(--section);
	border-radius: 5px;
	box-shadow: 1px 1px 1px var(--shadow);
	cursor: pointer;
	margin-top: 10px;
	padding: 15px;

	&:hover {
		background-color: var(--accent-hover);
	}

	&.app-active {
		border: 2px solid var(--accent-secondary);
		cursor: default;
	}

	h2 {
		font-size: 20px;
		margin-bottom: 15px;
		&::before {
			content: "👩🏻‍🎤";
			font-size: 20px;
			padding-right: 4px;
		}
	}

	p {
		margin-top: 4px;
	}

	span {
		color: var(--accent-secondary);
		font-weight: 700;
	}
}
