<div class="app-detail">
	<!-- Loading -->
	<div class="app-loading" *ngIf="isLoader$ | async; else other_content">
		<img src="assets/svg/spinner.svg" />
		<h4>Loading content...</h4>
	</div>

	<!-- Content: Albums & Photos -->
	<ng-template #other_content>
		<div class="app-albums">
			<h2>Albums</h2>
			<div *ngFor="let album of userAlbums$ | async; let idx = index">
				<div class="app-album">
					<h4>Album No.{{ album.id }}</h4>
					<p>{{ album.title }}</p>

					<!-- Fetch Button -->
					<div class="app-fetch-photos">
						<button
							(click)="fetchAlbumPhotos(album.id)"
							[disabled]="albumsPhotos?.[album.id]"
						>
							Fetch Photos
						</button>
						<img
							*ngIf="
								(isLoading$ | async) && album.id === albumIdx
							"
							src="assets/svg/spinner.svg"
						/>
					</div>

					<!-- Photos -->
					<div *ngIf="albumsPhotos?.[album.id]" class="app-photos">
						<div
							class="app-photo"
							*ngFor="let photo of albumsPhotos?.[album.id]"
						>
							<a [href]="photo.url" target="_blank">
								<img
									[src]="photo?.thumbnailUrl"
									[alt]="photo?.title"
								/>
							</a>
						</div>
					</div>

					<!-- Error -->
					<div class="app-error" *ngIf="error$ | async as error">
						{{ error }}
					</div>
				</div>
			</div>
		</div>
	</ng-template>
</div>
