.app-root {
	.app-title {
		background-color: var(--section);
		box-shadow: 1px 1px 1px var(--shadow);
		cursor: pointer;
		margin-bottom: 15px;
		padding: 15px;
		position: sticky;
		top: 0;
		z-index: 10;

		&:hover {
			opacity: 90%;
		}

		h1 {
			font-size: 28px;
		}
	}
}
