:root {
	--container: #f7edff;
	--section: #ffffff;
	--accent: #7a24f2;
	--accent-secondary: #7a24f2bb;
	--text: #1a0f3e;
	--text-secondary: #ffffff;
	--shadow: #ddd;
}

* {
	box-sizing: border-box;
}

body {
	background-color: var(--container);
	margin: 0;
	padding: 0;

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		color: var(--accent);
		margin: 0;
	}
	p {
		color: var(--text);
		margin-bottom: 0;
	}

	button {
		background-color: var(--accent);
		border: 1px solid var(--accent-secondary);
		border-radius: 5px;
		color: var(--text-secondary);
		cursor: pointer;
		display: inline-block;
		font-size: 13px;
		padding: 7px 10px;
		text-align: center;
		text-decoration: none;
		&:hover {
			opacity: 90%;
		}
		&:disabled {
			cursor: default;
			opacity: 50%;
		}
	}
}
