:root {
	--container: #f7edff;
    --section: #fff;
    --accent: #7a24f2;
    --accent-secondary: #7a24f2bb;
    --accent-hover: #c9abf351;
    --text: #1a0f3e;
	--shadow: #ddd;
}

* {
	box-sizing: border-box;
}

body {
	background-color: var(--container);
	margin: 0;
	padding: 0;

	h1, h2, h3, h4, h5, h6 {
		color: var(--accent);
		margin: 0;
	}
	p {
		color: var(--text);
		margin-bottom: 0;
	}
}

